html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  img {
    max-width: 100%;
    height: auto;
  
  }
  
  
    * {
    box-sizing: border-box;
  }
  
  
  .column2
  {
    float: right;
    width: 40%;
    padding: 10px;
    height:100vh;
    position: relative;
  
  }
  
  .column2 > h2{
    font-size: larger;
    text-align: center;
  }
  
  
  .column1 {
     
    float:left;
    width: 60%;
    padding: 20px;
    height:100vh;
   
    background-image: url("bgimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3rem;
  }
  .contact
      {
        color: rgb(0, 0, 0);
        position: absolute;
        top: 40%;
        left: 20%;
        
      }
  
  /* Clear floats after the columns */
  .row{
    content: "";
    display: flex;
    clear: both;
    position: relative;
  }
  
    