body,html {
    height: 100%;
    width:100%;
  }
  
  .bg {
    background-image: url("bgimage.jpg");
    height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }
  p{
      font-size: larger;
      color: black;
  }
  section {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }


    .topnav {
        overflow: hidden;
       background-color: rgb(0, 0, 0);
        backdrop-filter: blur(4px);
      }
      
      .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: rgb(197, 69, 69);
        color: black;
      }
      
      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }

      .container .image {
        width: 50%;
      }
      
      .container img {
        width: calc(100% - (20px * 2));
        margin: 20px;
      }

      
      .column {
        float: right;
        width: 35%;
        margin-top: 10%;
        padding: 10px;
      }
      
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 1em;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        border-radius: 1em;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }


      hr{
          border:3px solid black;
      }


      *,
      *::after,
      *::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit; 
      }

      img {
        max-width: 100%;
        height: auto;
      }
           

     
.title_header{
    
  padding: .5em;
  color:#2aa59f;
  font-size: 5em;
  
  text-align: center;
}


.gallery{
  max-width: 25em;
  min-height: 25em;
  border: 1px hidden;
  border-radius: 5%;
  /* opacity: 0.75; */
  padding: 1em;
  image-orientation:auto;
}

.gallery:hover{
  opacity: 2;
}

.gallery>img
{
  float:left;
}

      


      